# Ex3 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [1]:
import pandas as pd

# Define the URL of the dataset
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

# Load the dataset into a DataFrame
user_data = pd.read_csv(url, delimiter='|')

# Display the first few rows of the dataset
print(user_data.head())

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [2]:
import pandas as pd

# Define the URL of the dataset
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

# Load the dataset into a DataFrame, set 'user_id' as the index
users = pd.read_csv(url, delimiter='|', index_col='user_id')

# Display the first few rows of the dataset to check
print(users.head())

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### Step 4. See the first 25 entries

In [3]:
# Display the first 25 entries of the dataset
print(users.head(25))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### Step 5. See the last 10 entries

In [4]:
# Display the last 10 entries of the dataset
print(users.tail(10))

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [5]:
# Get the number of observations (rows) in the dataset
num_observations = users.shape[0]

# Print the number of observations
print(f"Number of observations in the dataset: {num_observations}")

Number of observations in the dataset: 943

### Step 7. What is the number of columns in the dataset?

In [6]:
# Get the number of columns in the dataset
num_columns = users.shape[1]

# Print the number of columns
print(f"Number of columns in the dataset: {num_columns}")

Number of columns in the dataset: 4

### Step 8. Print the name of all the columns.

In [7]:
# Print the name of all columns in the dataset
print(users.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 9. How is the dataset indexed?

In [8]:
# Print the index of the dataset
print(users.index)

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

### Step 10. What is the data type of each column?

In [9]:
# Print the data type of each column in the dataset
print(users.dtypes)

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

In [10]:
# Print only the 'occupation' column
print(users['occupation'])

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### Step 12. How many different occupations are in this dataset?

In [11]:
# Count the number of different occupations in the 'occupation' column
num_occupations = users['occupation'].nunique()

# Print the number of different occupations
print(f"Number of different occupations in the dataset: {num_occupations}")

Number of different occupations in the dataset: 21

### Step 13. What is the most frequent occupation?

In [12]:
# Find the most frequent occupation in the 'occupation' column
most_frequent_occupation = users['occupation'].mode()[0]

# Print the most frequent occupation
print(f"The most frequent occupation in the dataset is: {most_frequent_occupation}")

The most frequent occupation in the dataset is: student

### Step 14. Summarize the DataFrame.

In [13]:
# Summarize the DataFrame with statistical details for numerical columns
print(users.describe())

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [14]:
# Summarize the DataFrame with data types, non-null counts, and memory usage
print(users.info())

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB
None

### Step 15. Summarize all the columns

In [19]:
# Summarize the entire DataFrame, including both numerical and categorical columns
summary = users.describe(include='all').transpose()


print(summary)

            count unique      top freq       mean       std  min   25%   50%  \
age         943.0    NaN      NaN  NaN  34.051962  12.19274  7.0  25.0  31.0
gender        943      2        M  670        NaN       NaN  NaN   NaN   NaN
occupation    943     21  student  196        NaN       NaN  NaN   NaN   NaN
zip_code      943    795    55414    9        NaN       NaN  NaN   NaN   NaN

             75%   max
age         43.0  73.0
gender       NaN   NaN
occupation   NaN   NaN
zip_code     NaN   NaN

### Step 16. Summarize only the occupation column

In [20]:
# Summarize only the 'occupation' column
occupation_summary = users['occupation'].describe()

# Print the summary of the 'occupation' column
print(occupation_summary)

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 17. What is the mean age of users?

In [21]:
# Calculate the mean age of users
mean_age = users['age'].mean()

# Print the mean age
print(f"The mean age of users is: {mean_age}")

The mean age of users is: 34.05196182396607

### Step 18. What is the age with least occurrence?

In [28]:

age_counts = users['age'].value_counts()


least_occurrence_ages = age_counts[age_counts == 1]


least_occurrence_ages.name = 'age'


print(least_occurrence_ages)

age
7     1
11    1
66    1
10    1
73    1
Name: age, dtype: int64