# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [17]:
import pandas as pd
# Import the dataset from the provided URL and assign it to a DataFrame
chipotle = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

# Display the first few rows to confirm
print(chipotle.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

### Step 3. Assign it to a variable called chipo.

In [18]:
# Import the dataset and assign it to a variable called 'chipo'
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
chipo = pd.read_csv(url, sep='\t')
# Display the first few rows to confirm
print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

### Step 4. How many products cost more than $10.00?

In [19]:
# Step 1: Clean the 'item_price' column and convert it to a float
chipo['item_price'] = chipo['item_price'].replace({'\$': ''}, regex=True).astype(float)

# Step 2: Remove duplicates based on 'item_name' and 'quantity'
chipo_cleaned = chipo.drop_duplicates(subset=['item_name', 'quantity'])

# Step 3: Filter the dataset to include only rows where 'quantity' equals 1
chipo_single_item = chipo_cleaned[chipo_cleaned['quantity'] == 1]

# Step 4: Find how many products cost more than $10.00
expensive_products = chipo_single_item[chipo_single_item['item_price'] > 10.00]

# Count the number of unique products that cost more than $10.00
num_expensive_products = expensive_products['item_name'].nunique()

# Print the result
print(f"The number of products that cost more than $10.00 is: {num_expensive_products}")

The number of products that cost more than $10.00 is: 12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [20]:
# Step 1: Remove duplicates based on 'item_name' and 'quantity'
chipo_cleaned = chipo.drop_duplicates(subset=['item_name', 'quantity'])

# Step 2: Select only the rows where 'quantity' equals 1
chipo_single_item = chipo_cleaned[chipo_cleaned['quantity'] == 1]

# Step 3: Select only the 'item_name' and 'item_price' columns
chipo_price_df = chipo_single_item[['item_name', 'item_price']]

# Step 4: Sort the values by 'item_price' from most to least expensive
chipo_price_df_sorted = chipo_price_df.sort_values(by='item_price', ascending=False)

# Print the resulting DataFrame
print(chipo_price_df_sorted)

                                  item_name  item_price
1132                    Carnitas Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
606                        Steak Salad Bowl       11.89
39                            Barbacoa Bowl       11.75
7                             Steak Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
186                       Veggie Salad Bowl       11.25
738                       Veggie Soft Tacos       11.25
250                           Chicken Salad       10.98
5                              Chicken Bowl       10.98
8                          Steak Soft Tacos        9.25
92                       Steak Crispy Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
56                      Barbacoa Soft Tacos        9.25
33                            Carnitas Bowl        8.99
664                             Steak Salad        8.99
21                         Barbacoa Burrito        8.99
3750                         Carnitas Salad        8.99
54                               Steak Bowl        8.99
27                         Carnitas Burrito        8.99
44                       Chicken Salad Bowl        8.75
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
1653                    Veggie Crispy Tacos        8.49
16                          Chicken Burrito        8.49
1694                           Veggie Salad        8.49
1414                                  Salad        7.40
673                                    Bowl        7.40
520                            Crispy Tacos        7.40
510                                 Burrito        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
2                          Nantucket Nectar        3.39
1                                      Izze        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
233      Chips and Roasted Chili Corn Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
111     Chips and Tomatillo Red Chili Salsa        2.95
0              Chips and Fresh Tomato Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
40                                    Chips        2.15
6                             Side of Chips        1.69
263                       Canned Soft Drink        1.25
34                            Bottled Water        1.09
28                              Canned Soda        1.09

### Step 6. Sort by the name of the item

In [25]:
# Step 6: Sort the DataFrame by 'item_name' (no restriction on the number of rows)
sorted_chipotle = chipotle.sort_values(by='item_name')

# Display the entire DataFrame with the specified columns
print(sorted_chipotle[['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']])

      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
...        ...       ...                ...
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description  item_price
3389                                        [Diet Coke]       12.98
341                                         [Diet Coke]        6.49
1849                                             [Coke]        6.49
1860                                        [Diet Coke]        6.49
2713                                             [Coke]        6.49
...                                                 ...         ...
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...        8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...        8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49

[4622 rows x 5 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [24]:
# Step 7: Find the quantity of the most expensive item ordered

# Ensure 'item_price' is numeric by removing any non-numeric characters
chipotle['item_price'] = chipotle['item_price'].replace({'\$': '', ',': ''}, regex=True).astype(float)

# Find the most expensive item
most_expensive_item = chipotle.loc[chipotle['item_price'].idxmax()]

# Extract the quantity of the most expensive item ordered
most_expensive_item_quantity = most_expensive_item['quantity']

# Print the result
print(f"The quantity of the most expensive item ordered is: {most_expensive_item_quantity}")

The quantity of the most expensive item ordered is: 15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [26]:
# Step 8: Count how many times 'Veggie Salad Bowl' was ordered
veggie_salad_bowl_count = chipotle[chipotle['item_name'] == 'Veggie Salad Bowl'].shape[0]

# Print the result
print("The 'Veggie Salad Bowl' was ordered", veggie_salad_bowl_count, "times.")

The 'Veggie Salad Bowl' was ordered 18 times.

### Step 9. How many times did someone order more than one Canned Soda?

In [27]:
# Step 9: Count how many times someone ordered more than one Canned Soda
canned_soda_multiple_order = chipotle[(chipotle['item_name'] == 'Canned Soda') & (chipotle['quantity'] > 1)]

# Get the number of such orders
canned_soda_multiple_order_count = canned_soda_multiple_order.shape[0]

# Print the result
print("The 'Canned Soda' was ordered more than once", canned_soda_multiple_order_count, "times.")

The 'Canned Soda' was ordered more than once 20 times.